body{
    background-color: antiquewhite;
}

.panel{
    border: 2px solid black;
    height: 20rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8%;
}
.options{
    font-size: 20px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
	position;
	top: 40%;
	left: 40%;
}

.btn
{
    font-weight: 1000;
}